input {
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    width: 500px;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botão {
    background-color: #1c223a;
    color: white;
    border-radius: 15px;
    padding: 20px;
    border: none;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botão:hover{
    background-color: #020202;
    transition: 1s;
}

label {
    color: white;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bg1 {
    background-image: linear-gradient(45deg, black 30%, rgb(85, 87, 92) 100%);
}

a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
}

a:hover {
    color: blue;
    background-color: white;
}

a:active {
    color: black;
}

table {
    background-color: aliceblue;
    border: 5px solid cadetblue;
    border-collapse: collapse;
    margin: auto;
}

td {
    padding: 8px;
}

#cabeçalho-tabela {
    background-color: cadetblue;
}

p::first-letter {
    font-size: 1.3rem;
}

img {
    position: relative;
    display: inline-block;
}