 * {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    height: 450px;
}

.grid div {
    border: 1px solid black;
    margin: 3px;
}

.bg-gray {
    background-color: gray;
}

.bg-blue {
    background-color: blue;
}